@charset "utf-8";
/* CSS Document */
ul{ margin:0; padding:0; list-style:none;}
.my_select{width:150px; }
.my_select h2{width:150px; height:30px; line-height:30px; text-align:center; border:1px solid #000; cursor:pointer;}
.my_select ul{border:1px solid #000; margin-top:5px; display:none;}
.my_select ul li{width:150px; height:20px; line-height:20px; text-align:center; border:1px solid #ccc; cursor:pointer;}

