@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; line-height:100%}
a{ color:#000; text-decoration:none;}
 h2, h3, h4, h5, h6{ font-weight:normal; font-size:12px;}
ul, ol{ list-style:none;}
b, strong{ font-weight:normal;}
i, em{ font-style: normal;}
img{ border:none; display:block;}
input{ border:none 0; outline:none; background:none;}
.clearfix:after{ content:''; clear:both; display:block;}
.clearfix{ zoom:1;}
